/<Chronicler's>.wav
/<Craft>.wav
/<Library:>.wav
/<Malkah4292>.wav
/<Odinn07>.wav
/<Selector>.wav
/<Successfully>.wav
/<Vexify27>.wav
/<[Debug]:>.wav
/<[Discord>.wav
/<buggy1997123>.wav
/<just_laniakea>.wav
/<walksanator>.wav
/<wapachoo>.wav
/DUM